:root {
    --white: #FFFFFF;
    --accent: #FF0035;
    --foreground: #202332;
    --background: #0E131F;

    /* Layout */
    --spacing: 1em;
    --mobile-card-size: 10em;
    --tablet-card-size: 15em;
    --desktop-card-size: 21em;
}

body {
    background-color: var(--background);
}

/* Defines the main container size, we are limiting to 72em max and centring in the viewport */
.main-container {
    max-width: 72em;
    margin: 0 auto;
    column-gap: 1em;
    font-family: Inter;
    color: var(--white);
}

/* Here we define the aspects of style of our elements other than their grid layout */
.banner {
    padding: 1em;
    background-color: var(--color4);
}

.banner-subtitle {
    color: var(--accent);
    font-size: 1.125em;
}

.banner-title {
    font-size: 1.5em;
}

.card {
    background-color: var(--foreground);
    display: flex;
    flex-direction: column;
    border-radius: 0em 1em 1em 1em;
    overflow: hidden;
}

.card-image {
    /* max-height: 20em; */
    height: 50vh;
    object-fit: cover;
}

.card-blurb {
    padding: 0.5em;
}

.references-container {
    border-style: solid;
    border-color: var(--foreground);
    display: flex;
    flex-direction: column;
    border-radius: 0em 1em 1em 1em;
}

.references-title {
    background-color: var(--foreground);
    font-size: 2.25em;
    color: var(--accent);
    font-weight: bold;
    padding: 0.5em;
}

.reference-links-container {
    padding: 0.5em;
    display: flex;
    flex-direction: column;
}

.reference-link {
    color: var(--white);
    font-size: 0.75em;
}

/* now we create names for the grid areas for specific elements */
#banner {
    grid-area: ban;
}

#card1 {
    grid-area: c1;
}

#card2 {
    grid-area: c2;
}

#card3 {
    grid-area: c3;
}

#card4 {
    grid-area: c4;
}

#card5 {
    grid-area: c5;
}

#card6 {
    grid-area: c6;
}

#card7 {
    grid-area: c7;
}

#card8 {
    grid-area: c8;
}

#card9 {
    grid-area: c9;
}

#card10 {
    grid-area: c10;
}

#references {
    grid-area: ref;
}

/* Use a flexible layout grid */
.main-container {
    display: grid;
    column-gap: 1em;
}
  
/* 
Responsive Layout breakpoints. We start 'mobile-first' i.e. we define how the layout should look
for the smallest screen sizes. In this case we want a single column that spans the main container.
Because this CSS definition comes first, it will apply by default. Then we override it below with 
media queries for progressively bigger screen widths
*/
.main-container {
    grid-template: 
    "ban ban ban ban" minmax(3em, auto)
    ".   .   .   .  " minmax(var(--spacing), auto)
    "c1  c1  c1  c1 " minmax(var(--mobile-card-size), auto)
    ".   .   .   .  " minmax(var(--spacing), auto)
    "c2 c2 c2 c2" minmax(var(--mobile-card-size), auto)
    ".   .   .   .  " minmax(var(--spacing), auto)
    "c3 c3 c3 c3" minmax(var(--mobile-card-size), auto)
    ".   .   .   .  " minmax(var(--spacing), auto)
    "c4 c4 c4 c4" minmax(var(--mobile-card-size), auto)
    ".   .   .   .  " minmax(var(--spacing), auto)
    "c5 c5 c5 c5" minmax(var(--mobile-card-size), auto)
    ".   .   .   .  " minmax(var(--spacing), auto)
    "c6 c6 c6 c6" minmax(var(--mobile-card-size), auto)
    ".   .   .   .  " minmax(var(--spacing), auto)
    "c7 c7 c7 c7" minmax(var(--mobile-card-size), auto)
    ".   .   .   .  " minmax(var(--spacing), auto)
    "c8 c8 c8 c8" minmax(var(--mobile-card-size), auto)
    ".   .   .   .  " minmax(var(--spacing), auto)
    "c9 c9 c9 c9" minmax(var(--mobile-card-size), auto)
    ".   .   .   .  " minmax(var(--spacing), auto)
    "c10 c10 c10 c10" minmax(var(--mobile-card-size), auto)
    ".   .   .   .  " minmax(var(--spacing), auto)
    "ref ref ref ref" minmax(var(--mobile-card-size), auto)
    ;
}

@media (min-width: 50em) {
    .main-container {
        grid-template:
        "ban ban ban ban ban ban ban ban" minmax(8em, auto)
        ".   .   .   .   .   .   .   .  " minmax(var(--spacing), auto)
        "c1 c1 c1 c1 c2 c2 c2 c2" minmax(var(--tablet-card-size), auto)
        ".   .   .   .   .   .   .   .  " minmax(var(--spacing), auto)
        "c3 c3 c3 c3 c4 c4 c4 c4" minmax(var(--tablet-card-size), auto)
        ".   .   .   .   .   .   .   .  " minmax(var(--spacing), auto)
        "c5 c5 c5 c5 c5 c5 c5 c5" minmax(var(--tablet-card-size), auto)
        ".   .   .   .   .   .   .   .  " minmax(var(--spacing), auto)
        "c6 c6 c6 c6 c7 c7 c7 c7" minmax(var(--tablet-card-size), auto)
        ".   .   .   .   .   .   .   .  " minmax(var(--spacing), auto)
        "c8 c8 c8 c8 c9 c9 c9 c9" minmax(var(--tablet-card-size), auto)
        ".   .   .   .   .   .   .   .  " minmax(var(--spacing), auto)
        "c10 c10 c10 c10 c10 c10 c10 c10" minmax(var(--tablet-card-size), auto)
        ".   .   .   .   .   .   .   .  " minmax(var(--spacing), auto)
        "ref ref ref ref ref ref ref ref" minmax(var(--tablet-card-size), auto)
        ;
    }

    .banner-subtitle {
        font-size: 2em;
    }
    
    .banner-title {
        font-size: 3em;
    }

    .reference-link {
        font-size: 1.5em;
    }
}

@media (min-width: 75em) {
    .main-container {
        grid-template:
        "ban ban ban ban ban ban ban ban ban ban ban ban" minmax(8em, auto)
        " .   .   .   .   .   .   .   .   .   .   .   . " minmax(var(--spacing), auto)
        "c1  c1  c1  c1  c1  c1  c1  c1  c2  c2  c2  c2 " minmax(var(--desktop-card-size), auto)
        " .   .   .   .   .   .   .   .   .   .   .   . " minmax(var(--spacing), auto)
        "c3  c3  c3  c3  c3  c4  c4  c4  c4  c4  c4  c4 " minmax(var(--desktop-card-size), auto)
        " .   .   .   .   .   .   .   .   .   .   .   . " minmax(var(--spacing), auto)
        "c5  c5  c5  c5  c5  c5  c5  c5  c5  c5  c5  c5 " minmax(var(--desktop-card-size), auto)
        " .   .   .   .   .   .   .   .   .   .   .   . " minmax(var(--spacing), auto)
        "c6  c6  c6  c6  c6  c6  c6  c6  c7  c7  c7  c7 " minmax(var(--desktop-card-size), auto)
        " .   .   .   .   .   .   .   .   .   .   .   . " minmax(var(--spacing), auto)
        "c8  c8  c8  c8  c9  c9  c9  c9  c9  c9  c9  c9 " minmax(var(--desktop-card-size), auto)
        " .   .   .   .   .   .   .   .   .   .   .   . " minmax(var(--spacing), auto)
        "c10 c10 c10 c10 c10 c10 c10 c10 c10 c10 c10 c10" minmax(var(--desktop-card-size), auto)
        " .   .   .   .   .   .   .   .   .   .   .   . " minmax(var(--spacing), auto)
        "ref ref ref ref ref ref ref ref ref ref ref ref" minmax(var(--desktop-card-size), auto)
        ;
    }

    .banner-subtitle {
        font-size: 2.25em;
    }
    
    .banner-title {
        font-size: 4em;
    }

    .reference-link {
        font-size: 1.5em;
    }
}
